:root {
    --primary-color: #0078DB;
    --secondary-color: #003662;
    --dark-color: #2A2A2A;
    --bg-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--dark-color);
    font-family: 'Roboto';
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
header, main {
    width: 100%;
    background: var(--bg-color);
}

header {
    height:10%;
    background: #b2b2b21b;
    
}

.logoArea {
    height: 100%;
    width: 14.9%;
    float: left;
    display: grid;
    place-items: center;
    font-size: 2em;
    border-right: 0.5px solid #b2b2b2;
}

.headerDisplayBox {
    height: 100%;
    width: 85%;
    float: right;
    display: grid;
    place-items: center start;
    font-size: 1em;
}

.headerDisplayBox > div {
    padding-left: 20px;
}

main {
    height: 90%;
    width: 100%;
}

section {
    height: 100%;
}

section.menuDisplayBox {
    width: 14.9%;
    float: left;
    background: #b2b2b21b;
    border-right: 0.5px solid #b2b2b2;
}

.menuItems {
    width:91%;
    height: 65%;
    padding: 0px 4.5%;
    padding-top: 20%;
    color:grey;
}

.menuItem {
    width:95%;
    height: 50px;
    display: grid;
    place-items: center;
    justify-items: start;
    padding-left:10px;
    margin-bottom:10px;
    font-size: 0.9em;
    font-weight: 500;
}

.menuItems > .menuItem:hover {
    background: var(--secondary-color);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.activeMenuItem {
    color: var(--primary-color);
    font-weight: 600;
}

.userPreferences {
    width: 100%;
    height: 30%;
}

section.mainDisplayBox {
    width: 85.03%;
    float: right;
    display: grid;
    place-items: center;
    border-top:0.5px solid #b2b2b2;
    border-left:0.5px solid #b2b2b2;
    border-top-left-radius: 20px;
}
